@use '../../scss/variables' as variables;

//HERO

.token-hero-section.fund {

    background: url('../img/fund.gif') no-repeat center center;
}



.token-hero-container.fund::before {
  content: "";
  position: absolute;
  width: 1221px;
  height: 1433px;
  top: 110px;
  right: -110px;
  background: url('../img/fund_hero_blur.svg') no-repeat center;
  background-size: auto;
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  // filter: blur(30px);
  z-index: 0;
  pointer-events: none;
    
}

.token-hero-title.fund {
    background: variables.$accentFour;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.token-hero-btn {
  cursor: pointer;
  color: variables.$mainWhite;

}

.token-hero-btn.fund::before {

  background: variables.$accentFour;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.token-hero-btn.fund:hover {

  background: variables.$accentFour;
}

.btoken-hero-btn::before {
  background: transparent;
}



//HERO MOBILE
@media (max-width: 480px) {
 .token-hero-section.fund {
  background: none;
 }

 .token-hero-container.fund {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 0;

    &::before {
      display: none;
  }

 }

 .token-hero-mobile-gif.fund {
  display: block;
    background: url('../img/fund.gif') no-repeat center center;
    background-size: contain;
    width: 802px;
    height: 342px;
 }

 .token-hero-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 }
 .token-hero-title {
  font-size: 60px;
  min-width: 240px;
  max-width: none;
  gap: 0;
  line-height: 70px;
  margin-bottom: 5px;
 }
 .token-hero-description {
 font-size: 18px; 
 text-align: center;
 max-width: 304px;
 }
.token-hero-btn.fund {
  font-size: 20px;
  padding: 18px 35px;
  margin-top: 30px;
}


}




//FEATURES 

.fund-features-swiper {
    max-width: 1520px;
    margin: 0 auto;
}


.token-feature-item.fund {
  background: variables.$accentFour;
}

.token-feature-inner.fund {
  box-shadow: 2px 2px 9px 0px variables.$accentShadowGreen;
}


//ROADMAP


.fund-roadmap-section {
    margin-top: 176px;
    max-width: 1920px;
    margin-bottom: 161px;
    margin-left: auto;
    margin-right: auto;
}

.fund-roadmap-container {
    margin: 0 auto;
   max-width: 1520px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 734px;
 padding-right: 70px;
   &::before {
    content: '';
    position: absolute;
    width: 545px;
    height: 451px;
    background: radial-gradient(ellipse,#B2FF0F 10.47%,  #76FFEF 88.29%, transparent 100%);
    filter: blur(250px);
    top: -20px;
    left: -350px;
    pointer-events: none;
    z-index: 0;
    transform: skewY(160deg) rotate(25deg);
    // border-radius: 50%
  }
}


.fund_roadmap-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}


.fund-step {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 245px;
  height: 182px;
  background: url('../img/fund_roadmap_container_cropped.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;
  transform: none;
}
.fund-step-branch {
    position: relative;
}

.fund-step.step-1 {
    left: -144px;
    top: 130px;
}
.fund-step.step-2 {
    left: -48px;
    top: -28px;
}

.fund-step.step-3 {
    bottom: -132px;
    left: 172px;
}

.fund-branch {
    left: 283px;
}

.fund-step.step-4 {
     background: url('../img/fund_roadmap_container4.png');
     height: 184px;
}

.fund-step.no-bg {
    background: none;
}

/* Зеркалим только фон */
.fund-step.step-4.reversed {
  transform: scaleY(-1);
  justify-content: flex-end;
}

/* Отменяем отражение для текста */
.fund-step.reversed .fund-box {
  transform: scaleY(-1);
}

.fund-step-img.no-bg {
    fill: white;
    position: absolute;
}



.fund-box-title {
    font-family: Chakra Petch;
    font-weight: 700;
    font-size: 33px;
}

.fund-box-phrase {
    font-weight: 500;
    font-size: 18px;
    font-family: Montserrat;
}
.fund-box.step-1 {
    padding-top: 11px;
    padding-left: 11px;
    .fund-box-title {
    margin-bottom: 28px;
    }
}
.fund-box.step-2 {
    padding-bottom: 36px;
    padding-left: 22px;
        .fund-box-title {
        margin-bottom: 20px;
    }
}

.fund-box.step-3 {
    padding-top: 14px;
    padding-left: 24px;
    .fund-box-title {
    margin-bottom: 24px;
    }
}
.fund-box.step-4{
    padding-bottom: 36px;
    padding-left: 16px;
    .fund-box-title {
        margin-bottom: 9px;
    }
}

.fund-box.step-5{
    padding-top: 10px;
    padding-left: 16px;
    .fund-box-title {
        margin-bottom: 9px;
    }
}

.fund-branch {
  display: flex;
  flex-direction: column;
  gap: 332px;
  margin-top: -20px;
  position: relative;
  color: variables.$mainBlack;
}

.branch-top,
.branch-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fund-roadmap-arrow-mobile {
  display: none;
}
//ROADMAP MOBILE 

@media (max-width: 480px) {
  .fund-roadmap-section {
    max-width: 375px;
    margin-top: 70px;
    margin-bottom: 90px;
  }


  .fund-roadmap-container {
    flex-direction: column;
    max-width: 245px;
    margin: 0 auto;
    padding: 0;

       &::before {
    top: -35px;
    left: -135px;
    width: 335px;
    height: 175px;
    filter: blur(80px);
    background: linear-gradient(310deg, #B2FF0F 10.47%, #76FFEF 88.29%, transparent 100%);
    transform: scale(1, 0.7) skew(342deg, 341deg);
    z-index: -1;
    }

    &::after {
    content: "";
    position: absolute;
    bottom: -61px;
    right: -174px;
    width: 335px;
    height: 175px;
    filter: blur(80px);
    background: linear-gradient(310deg, #b2ff0f 10.47%, #76ffef 88.29%, transparent 100%);
    transform: scale(1, .7) skew(342deg, 341deg) rotate(27deg);
    z-index: -1;
    }

  }
  .fund_roadmap-img {
    display: none;
  }
  .fund-roadmap-arrow-mobile {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;

  }
  .fund-step.step-1,
  .fund-step.step-2,
  .fund-step.step-3 {
    border-radius: 20px;
    border: 2px solid transparent;
    background-image: linear-gradient(black, #000), linear-gradient(90deg, #a8ff78, #78ffd6);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    width: 245px;
    height: 144px;
  }

  .fund-step-branch {
    top: 20px;
    left: -282px;
  }
  .fund-branch {
    gap: 8px;

  }
  .fund-step.step-4 {
    border-radius: 20px;
    background: linear-gradient(148.71deg, #B2FF0F 10.47%, #76FFEF 88.29%);
    width: 245px;
    height: 144px;
  }
  .fund-step.step-4.reversed, .fund-box.step-5.reversed {
    transform: scaleY(1);
  }
   .fund-step.step-1,
   .fund-step.step-2,
   .fund-step.step-3 {
    left: 0;
    top: 0;
   }
  .fund-box.step-1, 
  .fund-box.step-2,
  .fund-box.step-3,
  .fund-box.step-4,
  .fund-box.step-5  {
    padding: 20px 8px 20px 18px;
  } 

  .fund-box.step-4 .fund-box-title,
  .fund-box.step-5 .fund-box-title
   {
    margin-bottom: 28px;
  }
  .fund-box-title {
    font-size: 25px;
  }
  .fund-box-phrase {
    font-size: 13px;
  }

  .fund-step-img {
    display: none;
  }
  .branch-top {
    order: 2;
  }

  .branch-bottom {
    order: 1;
  }
 }

// FAQ


.main-faq-section-container.fund {
  margin: 0 auto;
  max-width: 1520px;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  position: relative;
     &::before {
    content: '';
    position: absolute;
    width: 337px;
    height: 451px;
    background: linear-gradient(#B2FF0F 10.47%, #76FFEF 88.29%, transparent 100%);
    filter: blur(225px);
    bottom: -20px;
    right: -350px;
    pointer-events: none;
    z-index: 0;
    transform: rotate(180deg);
    // border-radius: 50%
  }
}


.main-faq-headline.fund {
  background: variables.$accentFour;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.main-faq-item.fund {
  border-image-source: variables.$accentFour;
  box-shadow: 2px 2px 20px 0px #55FF3980;
}

.main-faq-item:last-child {
  margin-bottom: 0;
}

.main-faq-question.fund {
  width: 100%;
  // height: 95px;
  background: transparent;
  border: none;
  padding: 30px 28px 30px 20px;
  text-align: left;
  font-size: 28px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}

.main-faq-question.fund .toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  font-weight: bold;
  font-size: 36px;
  background: linear-gradient(103.59deg, #FC84FF 13.23%, #54D1FA 91.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease;
}

.main-faq-answer.fund {
  font-size: 19px;
  line-height: 180%;
  max-height: 0;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 20px;

  font-size: 14px;
  color: #aaa;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

//FAQ MOBILE

@media (max-width: 480px) {
    .main-faq-question.fund {
      font-size: 14px;
      padding: 15px;
    }
    .main-faq-question.fund .toggle {
      width: 18px;
      height: 18px;
      font-size: 22px;
    }
}

//CONTACTS

.fund-contact-section {
  position: relative;
  padding-bottom: 103px;
}

.contact-container.fund {
  max-width: 794px;
  min-width: 794px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 0;

  &::before {
    transform: rotate(25deg) scaleY(0.7) skewX(20deg);
    width: 460px;
    height: 494px;
    left: -460px;
    top: 22%;
  }

  &::after {
    transform: rotate(25deg) scaleY(0.7) skewX(20deg);
    width: 460px;
    height: 494px;
    right: -480px;
    top: -8%;
  }
}



.fund-contact-token-left {
    width: 456px;
    height: 356px;
    bottom: 110px;
    right: -520px;
    position: absolute;
    transform: scaleX(-1);
    rotate: (-12deg);
}

.fund-contact-token-right {
    left: -500px;
    bottom: -25px;
    width: 456px;
    height: 356px;
    position: absolute;
    rotate: (12deg);
}



.fund-contacts-frame {
  position: relative;
  z-index: 2;
  padding: 50px 65px 50px 40px;
}

.corner.fund {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
}

.bottom-left.fund {
  bottom: 0px;
  left: 0px;
  border-right: none;
  border-top: none;
}

.top-right.fund {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.fund-contact-content {
  text-align: center;
  z-index: 1;
}

.fund-contact-title {
        min-width: 794px;
font-weight: 700;
font-size: 50px;
text-align: center;
vertical-align: middle;
margin-bottom: 108px;
}

.fund-contact-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}


.fund-btn-outline-blue {
  position: relative;
  display: inline-block;
  padding: 20px 67px;
    font-weight: 600;
    font-size: 33.05px;
  color: variables.$mainWhite;
  text-decoration: none;
  border-radius: 0px 60px 0px 60px;
  background: transparent;
  transition: all 0.3s ease;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

.fund-btn-outline-blue::before {
  content: "";
  position: absolute;
  inset: 0; 
  border-radius: 0px 60px 0px 60px;
  padding: 2px;
  background: variables.$accentTwo;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: -1;
}

.fund-btn-outline-blue:hover {
  background: variables.$accentTwo;
}

.fund-btn-outline-blue:hover::before {
  background: transparent;
}




.fund-contact-socials {
  display: flex;
  justify-content: center;
  gap: 86px;
  margin-top: 57px;
}

.fund-contact-socials-icons {
  width: 50px;
  height: 50px;
}


//CONTACTS MOBILE 

@media (max-width: 480px) { 
  .fund-contact-section {
    padding-bottom: 30px;
  }
  .fund-contact-title {
  display: none;
  }

  .fund-contact-token-left {
  display: none;
  }

  .fund-btn-outline-blue {
    font-size: 18px;
    padding: 12px 19px 11px;
  }

  .contact-container.fund {
    max-width: 330px;
    min-width: 330px;
  }
  .fund-contacts-frame {
    padding: 20px 12px
  }
  .corner.fund {
    width: 30px;
    height: 30px;
}
.fund-contact-socials {
  flex-wrap: wrap;
  gap: 27px 75px;
  margin-top: 37px;
}
.fund-contact-socials-icons {
  width: 37px;
  height: 37px;
}
}

