<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css" />
</head>
<body>
<header class="header-container">

<div class="header-logo">
    <a href="main_page" class="header-logo-link">
    <svg class="header-logo-icon" width="68" height="63">
        <use href="img/symbol-defs.svg#icon-letter-t-logo-260nw-1035037741-1-Traced"></use>
    </svg>
    </a>
    <p>Finity Touch</p>
</div>



<div class="header-menu">
    <div class="header-actions">
    <nav class="header-navigation">
        <a href="main_page" data-link>Home</a> 
        <a href="token" data-link>Token</a> 
        <a href="fund" data-link>Fund</a> 
        <a href="marketplace" data-link>Marketplace</a>
         <span class="header-nav-separator"></span>
    </nav>
        <button type="button" class="header-language-select">EN ▼</button>
    </div>

    
    <div class="header-contacts">
        <button type="button" class="header-btn-contact">Contact Us</button>
        <button type="button" class="header-btn-buy">Buy Token</button>
    </div>
</div>

</header>
