$mainBlack: #0D0D0D;
$mainWhite: #FFFFFF;
$secondaryGrey: #959595;
$accentTwo: linear-gradient(103.59deg, #54D6FF 13.23%, #C275FF 56.28%, #F36AFF 91.95%);
$accentSeven: linear-gradient(103.59deg, #86AFFE 13.23%, #A57AFF 53.2%, #FB84FF 91.95%);
$accentFour: linear-gradient(148.71deg, #B2FF0F 10.47%, #76FFEF 88.29%);
$accentFive: linear-gradient(145.54deg, #7673FF 10.4%, #42F4FF 92.38%);
$accentThree: linear-gradient(144.66deg, #FF6C56 6.96%, #FF9344 88.16%);
$accentEight: linear-gradient(143.85deg, #FFB78F 11.79%, #DB73FF 85.69%);
$accentOne: linear-gradient(103.59deg, #FC84FF 13.23%, #54D1FA 91.95%);
$accentOrange: #FF8749;
$accentPink: #DF6EFF;
$accentGreen: #A1FE4C;
$accentShadowPurple: #91009D;
$accentShadowGreen: #169D00;
$accentBlue: #57C2FF;